{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="{% static '/site/estilo.css' %}">
</head>
<body>
    <h1>Tarefas</h1>
    <table border="1" class="tabela">
        <tr>
            <th>Nome</th>
            <th>Status</th>
            <th>Prazo</th>
        </tr>
        {% for tarefa in tarefa %}
        <tr id="textos01">
            <td>{{ tarefa.nome }}</td>
            <td>{{ tarefa.get_status_display }}</td>
            {% if tarefa.prazo < hoje and tarefa.status != 'concluida' %}
                <td>Atrasada!</td>
            {% else %}
                <td>{{ tarefa.prazo }}</td>
            {% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="3" id="texto">Nenhuma tarefa cadastrada.</td></tr>
        {% endfor %}
    </table>
</body>
</html>